@import "variables";
@import "functions";

body, html {
  font-family: @font-normal;
}

i {
  font-family: @font-italic;
}

b {
  font-family: @font-bold;
}

@{headlines} {
  font-weight: bold;
}

.headlines();