@import "variables";
@import "functions";

* {
  box-sizing: border-box;
}

@import "elements";

.text-bold {
  font-family: @font-bold;
}

.text-italic {
  font-style: italic;
}

.gridAdjustments();
.roundCorners;
.rowColumns;
.rowx {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.@{prefix}-container {
  padding: .1rem 16px;
}

.@{prefix}-panel {
  padding: 8px 16px;
}

.card, [class^='card-'], [class*='card-'] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  @btns: e(@buttonElements);
  > header, > footer, > section, .button-group {
    padding: 6px 15px;
  }
  > figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;
    image, img {
      width: 100%;
    }
    figcaption {
      position: absolute;
      width: auto;
      z-index: 9;
      bottom: 5px;
      left: 10px;
      color: #ffffff;
      font-size: 30px;
      &.top-left {
        bottom: inherit;
        top: 5px;
      }
      &.bottom-right {
        right: 5px;
      }
      &.top-right {
        top: 5px;
        right: 5px;
      }
    }
  }
  > header {
  }
  > .button-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    > * {
      flex-grow: 1;
      margin-left: 5px;
      margin-right: 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  > button, > input[type=reset], > input[type=submit], > input[type=button], > [class^='btn-'], > [class*='btn-'] {
    display: block !important;
    width: 100%;
  }
  > section {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  > footer {
  }
}

.buttons;

input:not(.default):not([type=radio]):not([type=checkbox]):not([type=range]):not([type=submit]):not([type=button]):not([type=reset]):not([type=color]), textarea:not(.default),
select {
  outline: none;
  border: 0;
  border-bottom: 1px solid #b0b0b0;
  line-height: 1.5;
  letter-spacing: .5px;
  display: block;
  width: 100%;
  padding: 5px 10px 5px 3px;
  &:focus {
    border-bottom: 1.5px solid #3f9918;
  }
}

.dropDown;
.bordersPaddings();
.setColors();
.set-colors(@light-colors, #fff);
.set-colors(@dark-colors, #000);
.set-grids(@grids);
.set-color-group(@color-grouped);
.tables;
.lists;
.alert {
  padding: 8px 16px;
}

@import "media";