@prefix: gm;
@column-prefix: col;
@col-count: 12;
/*
Colors;
red,green,blue,grey, black,white
 */

@light-colors: black #000, grey #7D7D7D, grey-1 #E5E5E5, grey-2 #CBCBCB, grey-3 #B1B1B1, grey-4 #979797, grey-5 #636363, grey-6 #494949, grey-7 #2F2F2F, grey-8 #151515, red #CB0000, red-5 #B10000, red-6 #970000, red-7 #7D0000, red-8 #630000, green #00CB00, green-1 #82FF82, green-2 #68FF68, green-3 #4EFF4E, green-4 #34FF34, green-5 #00B100, green-6 #009700, green-7 #007D00, green-8 #006300, blue #0000CB, blue-1 #9C9CFF, blue-2 #8282FF, blue-3 #6868FF, blue-4 #4E4EFF, blue-5 #0000B1, blue-6 #000097, blue-7 #00007D, blue-8 #000063; //Where text is dark #000

@dark-colors: white #fff, grey-1 #E5E5E5, grey-2 #CBCBCB, grey-3 #B1B1B1, grey-4 #979797, red-1 #FF9C9C, red-2 #FF8282, red-3 #FF6868, red-4 #FF4E4E, green-1 #82FF82, green-2 #68FF68, green-3 #4EFF4E, green-4 #34FF34, blue-1 #9C9CFF, blue-2 #8282FF, blue-3 #6868FF, blue-4 #4E4EFF; //Where text is light E.g. #fff

@grids: xs, sm, md, lg;
@grids-semi: sm, lg;

/** purple, indigo, teal, green, blue, grey, red, orange, pink */
@primary-colors: purple hsl(291.2, 63.7%, 42.2%), indigo hsl(230.8, 48.4%, 47.8%), teal hsl(174.4, 100%, 29.4%), green hsl(90, 80%, 30%), blue hsl(204.1, 69.9%, 53.1%), grey hsl(66, 0%, 50%),
red hsl(5.6, 81%, 52%), orange hsl(35.8, 100%, 50%), pink hsl(339.6, 82.2%, 51.6%), yellow hsl(60, 100%, 50%);
//Below should be of equal length for either side of the color
@darkColorDesc: dark, darker, darkest, black;
@lightColorDesc: light, lighter, lightest, white;

@color-group: success #4F8A10, warning #9F6000, danger #D8000C, info #00529B, default #7D7D7D, primary #3229B9;
@color-grouped: btn, alert;

@max-font-size: 40;
@headlines: h1, h2, h3, h4, h5, h6;
@spacing: 15; //E.g. padding-left:15px;

@font-bold: "roboto-bold";
@font-italic: "roboto-italic";
@font-normal: "roboto-regular";
@sides: left, right, bottom, top;
@sizes: thin, medium, thick;
@paddings: small 10, wide 20, no 0;
@rounds: small 6, medium 15, large 25, xlarge 60, circle 999;

@contents: test flex-start, pushed flex-end, ends space-between, spaced space-around, center center;
@buttonElements: "button, input[type=reset], input[type=submit], input[type=button], .btn, [class^='btn-'], [class*='btn-']";
@buttonSizes: tiny 2, small 4, medium 7, large 10, xlarge 15;
@buttonDefColor: #b4b4b4;
@buttonDefSize: 6;

@defColor: #9d9d9d;
@font-face {
  font-family: @font-normal;
  src: url(../roboto/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: @font-bold;
  src: url(../roboto/RobotoCondensed-Bold.ttf);
}
