[class^='col-'], [col*='col-'] {
    padding: .5rem;
    border: 1px solid #ccc;
    text-align: center;
}

.colors p {
    margin: 0;
    padding: 1rem;
}

[class^='round-'], [col*='round-'] {
    display: inline-block;
    padding:10px;
}
.button-sizes > *{
    margin: 0 3px;
}